<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height: 26rem">
                   <a href="/view-product/{{this._id}}"> <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="..." style="height: 12rem "></a>
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <p class="card-text">{{this.Category}}</p>
                        <p class="card text"><b>Rs.{{this.Price}}</b></p>
                        <button  onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>

</section>